<ion-view style="" id="page2" title="Inforamacion">
    <ion-content class="has-header" padding="true">
        <h1 style="color: rgb(0, 0, 0);" id="inforamacion-heading1">INTEC</h1>
        <div style="color:#000000;" id="inforamacion-markdown2">
            <p>El Instituto Tecnológico de Santo Domingo, INTEC, es una institución dominicana de educación superior privada de servicio público, sin fines de lucro, fundada en 1972 por un grupo de académicos comprometidos con la transformación social del
                país y la promoción continua de la calidad de la vida de sus habitantes. Se caracteriza por la innovación y la complementariedad de su oferta académica en las áreas de Ingenierías, Negocios, Ciencias de la Salud, Ciencias Básicas y Ambientales
                y Ciencias Sociales y Humanidades.</p>
        </div>
    </ion-content>
</ion-view>