
<ion-view style="" id="page3" title="Mis Datos">
    <ion-content class="has-header" padding="true">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <div class="container"> <img class="avatar"  src="img/mike.png"/> </div>    
    </ion-content>

  <ion-content>
      <div class="super-content">
        <div id="contenedor">
        <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="    checked" />
        <label for="tab-1" class="tab-label-1"><b>General</b></label>
       
        <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
          <label for="tab-2" class="tab-label-2"><b>Preferencias</b></label>

        
   
    
                           
        <div class="content">
            <div class="content-1">
               <p><b>Nombre:</b> Jemy  </p>
               <p><b>Apellido:</b> Lanister</p>
               <p><b>ID:</b> 127189</p>
            </div>
            <div class="content-2">
                
            </div>
            
      </div>
</div>
</div>
 
  </ion-content>
</ion-view>
