<ion-view style="" id="page3" title="Mis Datos">
    <ion-content class="has-header" padding="true">
        <div class="container"> <img class="avatar"  src="img/mike.png"/> </div>
           <style type="text/css">

           div.container {
            width: 50%;
            max-width: 960px;
            margin: 0 auto;
            }
            
            .avatar{
            position: absolute;
            top: 50%;left: 50%; width: 30%; height: auto; 
            margin-left: -65px; margin-top: 20px;
            border-radius: 150px; -webkit-border-radius: 150px; 
            -moz-border-radius: 150px;  
            background-size: 100% 100%;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);

            }       
            </style>
        </div>
    </ion-content>
  <ion-content>
    <div class="barra">
         <div class="tabs-striped tabs-dark ">
            <div class="tabs tabs-icon-top">
              <a class="tab-item" ><i class="icon ion-person"></i>General</a>
              <a class="tab-item" ><i class="icon ion-levels"></i>Preferencias</a>
            </div>
          </div>
          
          <style type="text/css">
          .barra{
            margin-top: 70%;
            width: auto;
            height: auto;
            }
          </style>  
      </div>        
  </ion-content>
</ion-view>

