

/* CORE */
.item-expand {
  position: relative;
  width: 100%;
  max-height: 25px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.item-expand.active {
  max-height: 50%;
  transition: max-height 0.3s ease-out;
}

.img{
  max-height: 70%;
  max-width: 70%;
}
.text{
  max-height: auto;
  max-width: auto;
}